body {
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-white {
    background-color: bisque;
}



.centrado{
    text-align: center;
    vertical-align: middle;
}


.derecha {
   text-align: right;
   vertical-align: text-top;
}  
.negritas {
    font-style: normal;
    color: #3113b4;
}  
    
.ingresatusdatos {
    font-style: oblique;
    color: limegreen;
    text-align: center; 
    background-color: black;
}